name: CI
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

env:
  JAVA_OPTS: "-Xmx4G"

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: coursier/cache-action@v6     

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' 
          java-version: '8'
          cache: 'sbt'

      - name: Test
        run: sbt --client 'ci; publishLocal'

      - name: Publish ${{ github.ref }}
        if: startsWith(github.ref, 'refs/tags/v') || (github.ref == 'refs/heads/main')
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
